@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: "Google Sans Flex", sans-serif;
  --font-secondary: "Inter", sans-serif;

  /* Dashboard Colors */
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-primary-light: #dcfce7;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-sidebar: #111c27;
  --color-sidebar-hover: #1f2937;

  --color-border: #e5e7eb;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  overflow-x: hidden;

  background-color: #f8fafc;
  color: #111827;

  font-family: "Inter", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}